:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-color: #a8a4a4;
  display: flex;
  justify-content: center;
}

#root {
  margin: 3rem;
  height: 40rem;
  width: 40rem;
  background-color: rgb(235, 235, 181);
}

.positionArea {
  color: #555;
  font-family: monospace;
  font-size: .6rem;
}